---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Haunted House Toronto"
>
  <main>
    <div class="bg-haunted-orange flex py-24 md:py-32 text-white px-8">
      <div class="flex-col max-w-[800px] mx-auto flex-auto space-y-8">
        <h3 class="font-bold text-3xl mx-auto px-auto"> 
        <a href="https://hackclub.com">
          Hack Club Presents
        </a>
        </h3>
        <h1
          class="font-freight text-trillium-yellow text-6xl 2xs:text-7xl xs:text-8xl md:text-9xl"
        >
          Haunted House<br />
          Toronto
        </h1>
        <h2 class="text-xl 2xs:text-2xl xs:text-3xl md:text-4xl font-medium">
          A Halloween themed mini-hackathon for
          high-schoolers </nobr> in Toronto.
        </h2>
        
        <div class="flex space-x-1 2xs:space-x-2 md:space-x-3">
          <svg
            fill-rule="evenodd"
            clip-rule="evenodd"
            stroke-linejoin="round"
            stroke-miterlimit="1.414"
            xmlns="http://www.w3.org/2000/svg"
            aria-label="event-code"
            viewBox="0 0 32 32"
            preserveAspectRatio="xMidYMid meet"
            fill="currentColor"
            class="inline -mt-1 h-[38px] w-[38px] xs:h-[46px] xs:w-[46px] md:h-[52px] md:w-[52px]"
          >
            <g>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28 16C28 6 26 4 16 4S4 6 4 16s2 12 12 12 12-2 12-12zm-3.664 8.336C25.425 23.247 26 21.1 26 16c0-2.14-.101-3.76-.3-5H6.3C6.1 12.24 6 13.86 6 16c0 5.1.575 7.247 1.664 8.336C8.753 25.425 10.9 26 16 26s7.247-.575 8.336-1.664zM11 8a1 1 0 0 1 1-1h8a1 1 0 0 1 0 2h-8a1 1 0 0 1-1-1z"
              ></path>
              <path
                d="M9.082 19.325c-.157-.209-.332-.49-.332-.825 0-.335.175-.617.332-.826h.001c.849-1.104 1.978-1.963 3.077-2.798l.01-.008.546-.418a.976.976 0 0 1 1.31.114.86.86 0 0 1-.121 1.265c-.18.14-.362.277-.543.415-.925.706-1.842 1.404-2.576 2.256.725.838 1.659 1.552 2.579 2.256.181.139.362.276.54.415a.859.859 0 0 1 .121 1.265.976.976 0 0 1-1.31.113h-.001l-.183-.142-.079-.06-.268-.205-.003-.002c-1.097-.837-2.264-1.728-3.099-2.814l-.001-.002zM22.918 19.325c.157-.209.332-.49.332-.825 0-.335-.175-.617-.332-.826h-.001c-.849-1.104-1.978-1.963-3.077-2.798a89.607 89.607 0 0 1-.556-.425.976.976 0 0 0-1.31.112.86.86 0 0 0 .121 1.266c.18.14.361.277.541.415h.002c.925.706 1.842 1.404 2.576 2.256-.725.838-1.659 1.552-2.579 2.256-.181.139-.362.276-.54.415a.859.859 0 0 0-.121 1.265.976.976 0 0 0 1.31.113h.001l.53-.407.003-.002c1.097-.837 2.264-1.728 3.099-2.814l.001-.002z"
              ></path>
            </g></svg
          >
          <div class="flex flex-col space-y-2">
          <p class="inline my-auto text-lg 2xs:text-xl xs:text-2xl md:text-3xl">
          November 4th, 10:00am to 4:30pm
          <br> <b> <a class="text-blue-800 href="https://tally.so/r/mVP17N">Northern District Library, Toronto </a> 
          </p>
          <a href="https://" target="_blank">
            <p
              class="text-lg pr-4 px-4 2xs:text-xl xs:text-2xl lg:text-3xl bg-black px-4 text-white py-2 xs:py-4 w-full text-center border-[3px] xs:border-4 border-haunted-orange motion-safe:active:text-trillium-yellow"
            >
              Register
            </p>
          </a>
        </div>
          </a>
        </div>
      </div>
    </div>
    <div class="flex py-16 xs:py-24 md:py-32 px-8">
      <div
        class="max-w-[800px] mx-auto flex-auto space-y-10 xs:space-y-16 md:space-y-20 flex flex-col"
      >
        <div class="space-y-2 xs:space-y-4 md:space-y-6">
          <h3
            class=" font-freight text-2xl 2xs:text-3xl xs:text-4xl lg:text-5xl font-semibold"
          >
            What is it?
          </h3>
          <p class="text-lg 2xs:text-xl xs:text-2xl lg:text-3xl font-medium">
            <span class="text-tr">Haunted House Toronto</span> is an
            <nobr>in-person</nobr> free event where high schoolers will come together <span class="text-haunted-orange"
              >regardless of experience</span
            > for a day of <span
              class="font-wack text-red-500 align-bottom">learning</span
            >, <span class="font-wack text-blue-500 align-bottom">making</span>
             and having <span class="font-wack text-violet-600 align-bottom">fun</span
            >. You'll get the chance to make games, websites, your imagnation is your limit! 
            At the end, we'll be making rooms for a virtual haunted house for your projects!
            !
          </p>
        </div>
        <div class="border-2 border-gray-300 w-52 xs:w-80 mx-auto"></div>
        <div class="space-y-3 xs:space-y-8 md:space-y-10 lg:space-y-14">
          <div class="space-y-1 xs:space-y-3 md:space-y-5">
          </div>
         
        </div>
        <div class="space-y-6 xs:space-y-8 md:space-y-10 lg:space-y-14">
          <div class="space-y-2 xs:space-y-4 md:space-y-6">
            <h3
              class="font-freight text-2xl 2xs:text-3xl xs:text-4xl lg:text-5xl font-semibold"
            >
Interested?            </h3>
            <p class="text-lg 2xs:text-xl xs:text-2xl lg:text-3xl font-medium">
             Come join us! We'd love to have you at Haunted House Toronto!
            </p>
            <div>
              <a href="https://tally.so/r/mVP17N" target="_blank">
                <p
                  class="text-lg px-4 2xs:text-xl xs:text-2xl lg:text-3xl bg-haunted-orange text-white py-2 xs:py-4 w-full text-center border-[3px] xs:border-4 border- motion-safe:active:text-trillium-yellow"
                >
                  Register
                </p>
              </a>
            </div>
            <div class="flex flex-col space-y-2">
            <div class="border-2 border-gray-300 w-52 xs:w-80 mx-auto"></div>
  <div class="flex flex-col space-y-3">
<h3 class="text-3xl"> FAQ</h3>
<br>
<h4 class="text-xl"> Who's running this?</h4>
<p class="font-"> We're a group of teenagers, supported by Hack Club, a 501(c)(3)  nonprofit global network (based in the U.S.) and network of student-led coding clubs & High school makers. Founded in 2014, Hack Clubs are now in nearly 400 high schools with 10,000 students each year
  . <br> Last May, we also ran <a  class="text-blue-800" href="https://https://hack.af/angelhacks-tophoto"> AngelHacks Toronto</a>, a game-jam for 50 highschoolers in the GTA</p>
    <br>
    <h4 class="text-2xl"> What is hacking? </h4>
<p>
  No, we're not “hacking” bank accounts. Hacking is term for coding apps, games, websites etc. It's safe and entirely educational.   .</p>
    <br>
    <h4 class="text-2xl"> Will there be food & supervision?</h4>
    <p>There will be free food and refreshments. Workshops and activities will be held throughout the event. Adult supervision will be present at all times with access restricted to participants.</p>
    <br> 
    <br>
    <h4 class="text-2xl"> Photos from AngelHacks Toronto </h4>
    <br>
    <img src="https://cloud-pa5cw6l98-hack-club-bot.vercel.app/0image.png"> 
    <img src="https://cloud-a9hrey1fv-hack-club-bot.vercel.app/0image.png"> 
</div>
</div>
</div>
         
        </div>
      </div>
      
    </div>
  </main>
  <footer>
    <div class="flex px-8 text-center py-2 xs:py-4 text-xs md:text-base">
      <div class="max-w-[800px] mx-auto flex-auto">
        <p>
          This site is open sourced on <a
            class="hover:underline"
            href="https://github.com/hackclub/hauntedhouse-toronto/"
            target="_blank">GitHub</a
          >.
        </p>
        <p>
          Made with <span class="text-pink-500">❤</span> by Sam Liu and Arav Narula
        </p>
        <br>
        <p>
          
        </p>
      </div>
    </div>
  </footer>
</Layout>
