---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Trillium Hacks">
  <main>
    <div class="bg-trillium-green flex py-24 md:py-32 text-white px-8">
      <div class="max-w-[800px] mx-auto flex-auto space-y-8">
        <h1
          class="font-wack text-trillium-yellow text-6xl 2xs:text-7xl xs:text-8xl md:text-9xl"
        >
          Trillium<br />
           Hacks
        </h1>
        <h2 class="text-2xl 2xs:text-3xl xs:text-4xl md:text-5xl font-medium">
          Toronto's largest in-person high-school hackathon.
        </h2>
        <div class="flex space-x-1 2xs:space-x-2 md:space-x-3">
          <svg
            fill-rule="evenodd"
            clip-rule="evenodd"
            stroke-linejoin="round"
            stroke-miterlimit="1.414"
            xmlns="http://www.w3.org/2000/svg"
            aria-label="event-code"
            viewBox="0 0 32 32"
            preserveAspectRatio="xMidYMid meet"
            fill="currentColor"
            class="inline -mt-1 h-[38px] w-[38px] xs:h-[46px] xs:w-[46px] md:h-[52px] md:w-[52px]"
          >
            <g>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28 16C28 6 26 4 16 4S4 6 4 16s2 12 12 12 12-2 12-12zm-3.664 8.336C25.425 23.247 26 21.1 26 16c0-2.14-.101-3.76-.3-5H6.3C6.1 12.24 6 13.86 6 16c0 5.1.575 7.247 1.664 8.336C8.753 25.425 10.9 26 16 26s7.247-.575 8.336-1.664zM11 8a1 1 0 0 1 1-1h8a1 1 0 0 1 0 2h-8a1 1 0 0 1-1-1z"
              ></path>
              <path
                d="M9.082 19.325c-.157-.209-.332-.49-.332-.825 0-.335.175-.617.332-.826h.001c.849-1.104 1.978-1.963 3.077-2.798l.01-.008.546-.418a.976.976 0 0 1 1.31.114.86.86 0 0 1-.121 1.265c-.18.14-.362.277-.543.415-.925.706-1.842 1.404-2.576 2.256.725.838 1.659 1.552 2.579 2.256.181.139.362.276.54.415a.859.859 0 0 1 .121 1.265.976.976 0 0 1-1.31.113h-.001l-.183-.142-.079-.06-.268-.205-.003-.002c-1.097-.837-2.264-1.728-3.099-2.814l-.001-.002zM22.918 19.325c.157-.209.332-.49.332-.825 0-.335-.175-.617-.332-.826h-.001c-.849-1.104-1.978-1.963-3.077-2.798a89.607 89.607 0 0 1-.556-.425.976.976 0 0 0-1.31.112.86.86 0 0 0 .121 1.266c.18.14.361.277.541.415h.002c.925.706 1.842 1.404 2.576 2.256-.725.838-1.659 1.552-2.579 2.256-.181.139-.362.276-.54.415a.859.859 0 0 0-.121 1.265.976.976 0 0 0 1.31.113h.001l.53-.407.003-.002c1.097-.837 2.264-1.728 3.099-2.814l.001-.002z"
              ></path>
            </g></svg
          >
          <p class="inline my-auto text-lg 2xs:text-xl xs:text-2xl md:text-3xl">
            Spring 2024 - Coming soon!
          </p>
        </div>
      </div>
    </div>
    <div class="flex py-16 xs:py-24 md:py-32 px-8">
      <div
        class="max-w-[800px] mx-auto flex-auto space-y-10 xs:space-y-16 md:space-y-20 flex flex-col"
      >
        <div class="space-y-2 xs:space-y-4 md:space-y-6">
          <h3
            class="text-2xl 2xs:text-3xl xs:text-4xl lg:text-5xl font-semibold"
          >
            What is it?
          </h3>
          <p class="text-lg 2xs:text-xl xs:text-2xl lg:text-3xl font-medium">
            <span class="text-trillium-green">Trillium Hacks</span> is a
            in-person event where high-schoolers from across Ontario & beyond, <span
              class="text-trillium-green">regardless of experience</span
            >, come together for a day of <span
              class="font-wack text-red-500 align-bottom">learning</span
            >, <span class="font-wack text-blue-500 align-bottom">making</span>
             and <span class="font-wack text-violet-600 align-bottom">fun</span
            >. There'll be workshops, free meals & places to sleep. Turn ideas
            into reality and <span class="text-trillium-green"
              >earn awesome prizes</span
            >!
          </p>
        </div>
        <div class="border-2 border-gray-300 w-52 xs:w-80 mx-auto"></div>
        <div class="space-y-6 xs:space-y-8 md:space-y-10 lg:space-y-14">
          <div class="space-y-2 xs:space-y-4 md:space-y-6">
            <h3
              class="text-2xl 2xs:text-3xl xs:text-4xl lg:text-5xl font-semibold"
            >
              Interested?
            </h3>
            <p class="text-lg 2xs:text-xl xs:text-2xl lg:text-3xl font-medium">
              Reach out to us at <a
                class="text-trillium-green hover:underline"
                href="mailto:team@trilliumhacks.com"
                target="_blank">team@trilliumhacks.com</a
              >.
            </p>
          </div>
          <form
            action="https://postal.hackclub.com/subscribe"
            method="post"
            accept-charset="utf-8"
            class="space-y-4"
          >
            <p class="text-lg 2xs:text-xl xs:text-2xl lg:text-3xl">
              We're not currently accepting signups but you can subscribe to get an alert when we open it up! <span class="text-trillium-green"
                >Trillium Hacks</span
              >.
            </p>
            <div class="space-y-4">
              <input
                class="border-trillium-green rounded-none outline-none border-[3px] xs:border-4 w-full text-lg 2xs:text-xl xs:text-2xl lg:text-3xl px-4 xs:px-6 py-2 xs:py-4 placeholder-gray-400 motion-safe:focus:ring ring-trillium-green/50 motion-safe:transition-all"
                type="email"
                name="email"
                id="email"
                placeholder="myemail@trilliumhacks.com"
                required=""
              />
              <div style="display:none;">
                <label for="hp">HP</label>
                <input type="text" name="hp" id="hp" />
              </div><input
                type="hidden"
                name="list"
                value="09892nzoRJ763DtSl78yfxthyw"
              />
              <input type="hidden" name="subform" value="yes" />
              <div class="space-y-2">
                <input
                  type="submit"
                  name="submit"
                  id="submit"
                  class="text-lg 2xs:text-xl rounded-none xs:text-2xl lg:text-3xl bg-trillium-green text-white py-2 xs:py-4 w-full text-center border-[3px] xs:border-4 border-trillium-green motion-safe:active:text-trillium-yellow"
                  value="Sign up for updates!"
                />
                <p class="text-sm 2xs:text-base xs:text-lg lg:text-xl">
                  We do not use trackers and we will never share your email to
                  3rd parties.
                </p>
              </div>
            </div>
          </form>
        </div>
        <div class="border-2 border-gray-300 w-52 xs:w-80 mx-auto"></div>
        <div class="space-y-6 xs:space-y-8 md:space-y-10 lg:space-y-14">
          <div class="space-y-2 xs:space-y-4 md:space-y-6">
            <h3
              class="text-2xl 2xs:text-3xl xs:text-4xl lg:text-5xl font-semibold"
            >
              Help us make an impact
            </h3>
            <p class="text-lg 2xs:text-xl xs:text-2xl lg:text-3xl font-medium">
              Events like these are not possible without the <span
                class="text-trillium-green">generous support of sponsors</span
              >.
            </p>
          </div>
          <div>
            <a href="mailto:team@trilliumhacks.com" target="_blank">
              <p
                class="text-lg 2xs:text-xl xs:text-2xl lg:text-3xl bg-trillium-green text-white py-2 xs:py-4 w-full text-center border-[3px] xs:border-4 border-trillium-green motion-safe:active:text-trillium-yellow"
              >
                Considering a sponsorship? Let's chat!
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="flex px-8 text-center py-2 xs:py-4 text-xs md:text-base">
      <div class="max-w-[800px] mx-auto flex-auto">
        <p>
          This site is open sourced on <a
            class="hover:underline"
            href="https://github.com/Trillium-hacks/site"
            target="_blank">GitHub</a
          >.
        </p>
        <p>
          Made with <span class="text-pink-500">❤</span> by Sam Liu and the
          Trillium Hacks Team.
        </p>
      </div>
    </div>
  </footer>
</Layout>
