---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="You're alreary subscribed!">
  <div class="min-h-screen flex">
    <div class="m-auto bg-trillium-green text-white py-14 px-20 space-y-8">
      <div class="space-y-2">
        <h1 class="text-5xl font-semibold">You're already subscribed!</h1>
        <p class="text-3xl">Thanks for your continued interest!</p>
      </div>
      <div>
        <a class="text-xl hover:underline" href="/" id="back">â† Head Back</a>
      </div>
    </div>
  </div>
</Layout>
