---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="You're subscribed!">
  <meta slot="head" name="robots" content="noindex" />

  <div class="min-h-screen flex">
    <div class="m-auto bg-trillium-green text-white py-14 px-20 space-y-8">
      <div class="space-y-2">
        <h1 class="text-5xl font-semibold">Succesfully unsubscribed</h1>
        <p class="text-3xl">We're sorry to see you go.</p>
      </div>
      <div class="text-2xl space-y-2">
        <p class="hidden">
          Didn't mean to unsubscribe?
          <a href="" class="hover:underline" id="resub">Re-subscribe me!</a>
        </p>
        <div>
          <a class="text-xl hover:underline" href="/" id="back">← Head Back</a>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script>
  const searchParams = new URLSearchParams(window.location.search);
  if (searchParams.has("url")) {
    const url = searchParams.get("url");
    if (
      url.startsWith("https://postal.hackclub.com/subscribe/") &&
      url.endsWith("/09892nzoRJ763DtSl78yfxthyw")
    ) {
      const resub = document.getElementById("resub") as HTMLAnchorElement;
      console.log(resub);
      resub.href = url;
      resub.parentElement.classList.remove("hidden");
    }
  }
</script>
