---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta
      name="description"
      content="Trillium Hacks is an in-person event where high schoolers come together for a day of learning, making and fun. Turn ideas into reality at Trillium Hacks!"
    />

    <meta name="geo.region" content="CA-ON" />
    <meta name="geo.placename" content="Toronto" />
    <meta name="geo.position" content="43.653482;-79.383935" />
    <meta name="ICBM" content="43.653482, -79.383935" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <slot name="head" />
  </head>
  <body class="bg-light-haunted-orange font-josefin">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Wack Club Sans";
    src: url("/fonts/WackClubSans-Regular.eot");
    src:
      url("/fonts/WackClubSans-Regular.eot?#iefix") format("embedded-opentype"),
      url("/fonts/WackClubSans-Regular.woff2") format("woff2"),
      url("/fonts/WackClubSans-Regular.woff") format("woff"),
      url("/fonts/WackClubSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
